{% load staticfiles %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class = "container">
      <a class="navbar-brand" href="{% url 'posts:list' %}">N's Blog </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'posts:list' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          
          {% if request.user.is_authenticated %}
          
          <li class="nav-item">
            <span class = "nav-link active" style=" border-left: 1px solid #EBEBEB;">{{ request.user }}</span>
          </li>
          {% endif %}
        </ul>
       
        <form  method= "GET" action="" class="form-inline mt-2 ">
          <input class="form-control mr-sm-2" type="text" name = "q" placeholder="Search Posts" value="{{ request.GET.q }}" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    
      </div>
      </div>
    </nav>

<!-- 
    <form method= "GET" action="" class = "row">
      <div class = "col-sm-6">  
        <div class = "input-group mb-3">
          
          <input class = "form-control" type = "text" name = "q" placeholder="Search Posts" value="{{ request.GET.q }}" />
           
          <span class = "input-group-btn">
            <!-- <input class = "btn btn-default" type = "submit" value="Search"/> -->

          <!-- <button class = "btn btn-default btn-outline-success" type = "button"><i class="fa fa-search" aria-hidden="true"></i>!</button>
          </span>
          
        </div> -->
     <!--  </div>
  </form>
 --> 
  